.flex-aside{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0%;
    align-content: space-evenly;
    height: 100%;
    width: 20%;
}

.cont-navbar{
    @include basic-grid-container(5, 1, 0px);
}
nav.navbar a{
    display: flex;
    position: static;
}